In [4]:
# Importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('infolimpioavanzadoTarget.csv')

In [6]:
df.head(5)

,date,open,high,low,close,adjclose,volume,ticker,RSIadjclose15,RSIvolume15,...,high-15,K-15,D-15,stochastic-k-15,stochastic-d-15,stochastic-kd-15,volumenrelativo,diff,INCREMENTO,TARGET
0,2022-01-03,17.799999,18.219000,17.500000,17.760000,17.760000,106600,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.919758,-1.900001,-9.664295,0
1,2022-01-04,17.700001,18.309999,17.620001,17.660000,17.660000,128700,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.110440,-1.379999,-7.247895,0
2,2022-01-05,17.580000,17.799999,16.910000,16.950001,16.950001,103100,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.889560,-0.930000,-5.201344,0
3,2022-01-06,16.650000,16.879999,16.139999,16.170000,16.170000,173600,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.497843,-0.360000,-2.177856,0
4,2022-01-07,16.219999,16.290001,15.630000,15.710000,15.710000,137800,ASLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.188956,-0.120000,-0.758054,0

In [7]:
df.shape

(7781, 1285)

In [8]:
df.describe()

,open,high,low,close,adjclose,volume,RSIadjclose15,RSIvolume15,RSIadjclose25,RSIvolume25,...,high-15,K-15,D-15,stochastic-k-15,stochastic-d-15,stochastic-kd-15,volumenrelativo,diff,INCREMENTO,TARGET
count,7781.000000,7781.000000,7781.000000,7781.000000,7781.000000,7.781000e+03,7316.000000,7316.000000,7006.000000,7006.000000,...,7347.000000,7262.000000,7194.000000,7262.000000,7194.000000,7194.000000,7566.000000,7626.000000,7626.000000,7781.000000
mean,34.990220,35.655999,34.301243,34.964414,34.483147,7.586022e+05,46.817434,49.814790,46.966016,49.898659,...,37.947291,18.673824,18.704812,18.673824,18.704812,0.298413,inf,-0.259186,-2.674224,0.183010
std,99.841502,101.451058,98.073945,99.790823,98.603879,3.934491e+06,11.672838,5.002664,8.760961,3.420371,...,107.340294,75.723295,74.210933,75.723295,74.210933,14.661948,NaN,7.334250,268.268134,0.386699
min,0.410000,0.435000,0.405000,0.408000,0.408000,0.000000e+00,6.837461,35.303213,17.693637,39.520876,...,0.510000,-668.212635,-626.263336,-668.212635,-626.263336,-211.219037,0.000000,-90.538818,-23399.465955,0.000000
25%,4.050000,4.130000,3.980000,4.030000,3.960000,1.080000e+04,38.946316,47.182234,40.954487,48.266978,...,4.565000,6.153839,8.336837,6.153839,8.336837,-6.585432,0.637237,-0.417873,-4.494383,0.000000
50%,10.080000,10.110000,10.005000,10.080000,10.061000,8.406000e+04,46.259711,48.356834,46.459477,48.961162,...,10.640000,28.484828,28.478797,28.484828,28.478797,0.000000,1.000000,-0.025000,-0.304004,0.000000
75%,24.350000,24.500000,24.080000,24.250000,22.466007,6.724000e+05,54.061089,50.902284,52.289893,50.527067,...,25.170000,59.688404,58.664021,59.688404,58.664021,6.726947,1.655385,0.240000,2.812552,0.000000
max,795.739990,799.359985,784.960022,797.489990,783.376221,1.615550e+08,96.365095,99.622735,91.023108,97.782293,...,799.359985,100.000000,100.000000,100.000000,100.000000,198.156313,inf,120.256775,425.000000,1.000000

In [9]:
df.isna().sum()

date                  0
open                  0
high                  0
low                   0
close                 0
                   ...
stochastic-kd-15    587
volumenrelativo     215
diff                155
INCREMENTO          155
TARGET                0
Length: 1285, dtype: int64

In [10]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'adjclose', 'volume', 'ticker',
       'RSIadjclose15', 'RSIvolume15',
       ...
       'high-15', 'K-15', 'D-15', 'stochastic-k-15', 'stochastic-d-15',
       'stochastic-kd-15', 'volumenrelativo', 'diff', 'INCREMENTO', 'TARGET'],
      dtype='object', length=1285)

In [11]:
selected = [col for col in df.columns [df.isna().sum() == 0] ]

In [12]:
df1 = df[selected]

In [13]:
df1.head(5)

,date,open,high,low,close,adjclose,volume,ticker,feargreed,emaadjclose5,emaadjclose10,emaadjclose15,emaadjclose50,atr5,atr10,atr15,atr20,velaE,velaF,TARGET
0,2022-01-03,17.799999,18.219000,17.500000,17.760000,17.760000,106600,ASLE,29,0.000000,0.000000,0.000000,0.000000,0.719000,0.719000,0.719000,0.719000,-0.039999,-0.039999,0
1,2022-01-04,17.700001,18.309999,17.620001,17.660000,17.660000,128700,ASLE,23,0.003775,0.004633,0.004955,0.005440,0.713200,0.716100,0.717066,0.717550,-0.040001,-0.040001,0
2,2022-01-05,17.580000,17.799999,16.910000,16.950001,16.950001,103100,ASLE,24,0.030547,0.038221,0.041169,0.045691,0.748560,0.733490,0.728595,0.726172,-0.629999,-0.629999,0
3,2022-01-06,16.650000,16.879999,16.139999,16.170000,16.170000,173600,ASLE,15,0.053506,0.072248,0.079968,0.092363,0.760848,0.741141,0.734022,0.730364,-0.480000,-0.480000,0
4,2022-01-07,16.219999,16.290001,15.630000,15.710000,15.710000,137800,ASLE,18,0.056235,0.084799,0.097642,0.119472,0.740679,0.733027,0.729088,0.726846,-0.509999,-0.509999,0

In [14]:
df1.columns

Index(['date', 'open', 'high', 'low', 'close', 'adjclose', 'volume', 'ticker',
       'feargreed', 'emaadjclose5', 'emaadjclose10', 'emaadjclose15',
       'emaadjclose50', 'atr5', 'atr10', 'atr15', 'atr20', 'velaE', 'velaF',
       'TARGET'],
      dtype='object')

In [15]:
df1 = df1.drop(['date'], axis=1)

In [16]:
df1 = df1.drop(['ticker'], axis=1)

In [17]:
df1.head(5)

,open,high,low,close,adjclose,volume,feargreed,emaadjclose5,emaadjclose10,emaadjclose15,emaadjclose50,atr5,atr10,atr15,atr20,velaE,velaF,TARGET
0,17.799999,18.219000,17.500000,17.760000,17.760000,106600,29,0.000000,0.000000,0.000000,0.000000,0.719000,0.719000,0.719000,0.719000,-0.039999,-0.039999,0
1,17.700001,18.309999,17.620001,17.660000,17.660000,128700,23,0.003775,0.004633,0.004955,0.005440,0.713200,0.716100,0.717066,0.717550,-0.040001,-0.040001,0
2,17.580000,17.799999,16.910000,16.950001,16.950001,103100,24,0.030547,0.038221,0.041169,0.045691,0.748560,0.733490,0.728595,0.726172,-0.629999,-0.629999,0
3,16.650000,16.879999,16.139999,16.170000,16.170000,173600,15,0.053506,0.072248,0.079968,0.092363,0.760848,0.741141,0.734022,0.730364,-0.480000,-0.480000,0
4,16.219999,16.290001,15.630000,15.710000,15.710000,137800,18,0.056235,0.084799,0.097642,0.119472,0.740679,0.733027,0.729088,0.726846,-0.509999,-0.509999,0

In [18]:
df1.isna().sum()

open             0
high             0
low              0
close            0
adjclose         0
volume           0
feargreed        0
emaadjclose5     0
emaadjclose10    0
emaadjclose15    0
emaadjclose50    0
atr5             0
atr10            0
atr15            0
atr20            0
velaE            0
velaF            0
TARGET           0
dtype: int64

In [19]:
df1.isnull().any().any()

False

In [20]:
df1.isnull().any()

open             False
high             False
low              False
close            False
adjclose         False
volume           False
feargreed        False
emaadjclose5     False
emaadjclose10    False
emaadjclose15    False
emaadjclose50    False
atr5             False
atr10            False
atr15            False
atr20            False
velaE            False
velaF            False
TARGET           False
dtype: bool

In [21]:
df1.shape

(7781, 18)

# Split into Train and Test

In [22]:
X = df1.drop('TARGET', axis = 1)
y = df['TARGET']

In [23]:
# Splitting into Train and Test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 101)

In [24]:
# Applying Scaling on independent variables

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [25]:
# Appying Logistic Regression Model onto Train set

from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(random_state= 0)
log_reg.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [26]:
y_pred = log_reg.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [27]:
lm = LogisticRegression()
lm.fit(X_train, y_train)

LogisticRegression()

In [28]:
lm.score(X_test, y_test)

0.8220937700706487